/*..............................................................................................Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt:100,200,300,400,500,600,700');


/*.....................................................................................................Media Query Styling */

@media only screen and (min-width:768px) {
    #mainmenu {
        transform: translateY(-55px);
    }
    #hamburger {
        transform: translateY(-300%);
    }

}

@media only screen and (max-width:767.9px) {
    #mainmenu {
        transform: translateY(-400%);
    }
    .mainmenustyle {
        margin: 5px;
    }
}



/*....................................................................................................Format screen areas*/

header {
    background-color: darkgrey;
    margin: 0;
    max-height: 60px;
}

/*Display Background Image - adapted from code @ css-tricks.com */

body {
    background: url(/band-assets/images/monkees1.png) no-repeat center 0px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    background-color: darkgrey;
}

/* ................................................................................................Styling Universal Main Menu */

.mainmenustyle {
    font-family: "rock salt", sans-serif;
    font-size: 20px;
    color: white;
    min-height: 60px;
    min-width: 150px;
    text-decoration: none;
    background-color: black;
    padding-top: 10px;
    margin: 0;
    top: 0;
    display: block;
}

.selected {
    opacity: 0.6;
}

.mainmenustyle i {
    color: white;
}

.mainmenustyle span {
    color: white;
}

.hvr-bounce-to-bottom:before {
    background: rgb(255, 255, 255, 0.3);
    height: 60px;
}

.center-item {
    text-align: center;
}



/* ................................................................................................Styling Hamburger Menu */

.hamburger-menu-style {
    text-align: center;
    max-width: 60px;
    max-height: 40px;
    font-size: 30px;
    margin-top: 5px;
    background-color: transparent;
    display: inline-block;
}

.hamburger-menu-style span {
    color: black;
    text-decoration: none;
}


#hamburger:active~#mainmenu {
    transform: translateY(-50px);
}

@media only screen and (max-width:767.9px) {
    #mainmenu:active,
    #mainmenu:hover {
        transform: translateY(-50px);
   }
}



/* ................................................................................................Styling Headers */

.song-line-1 {
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    font-size: 45px;
    color: black;
}

.song-line-2 {
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    font-size: 30px;
    color: black;
}


h1 {
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    font-size: 35px;
    color: red;
}

h2 {
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    font-size: 15px;
    color: grey;
}

.footer-text {
    font-size: 15px;
    color: black;
    font-family: "Rock Salt", sans-serif;
}



/* ......................................................................................................Style Booking Inputs
.................................................................................................Adapted from code at www.w3schools.com */

input[type=text],
input[type=email],
input[type=number],
input[type=checkbox], select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 95%;
    background-color: #f44242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f75151;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}


